{
    "branches": [
        "main", "31-add-relaese-automation-and-versioning"
    ],
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/github",
        {
          "assets": [
            {"path": "src/*", "label": "Source code"},
            {"path": "package*", "label": "Package"},
            {"path": "wrangler.toml", "label": "Wrangler"}
          ],
          "addReleases": "bottom"
        }
      ]
    ]
}
